.ThreadsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Thread {
  display: grid;
  grid-template-columns: 1fr 2fr 50px;
  grid-template-areas: "Parties Preview Button";
  gap: 1rem;
  height: 60px;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-left: 2px solid #c3c3c3;
  box-sizing: border-box;
  background-color: rgba(249, 249, 249, 0.641);
  filter: drop-shadow(2px 0px 5px rgba(67, 73, 70, 0.122));
}

.Thread:not(:first-child) {
  margin-top: 5px;
}

.Thread .Parties {
  grid-area: Parties;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: min-content;
  gap: 0.5rem;
}

.Thread .Party {
  white-space: nowrap;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #454545;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
}

.Thread .Preview {
  display: flex;
  align-items: center;
  grid-area: Preview;
  font-style: italic;
  font-size: 0.9rem;
  color: #999;
}

.Thread button {
  display: flex;
  align-items: center;
  grid-area: Button;

  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: #56a552;
  cursor: pointer;
}

.Thread button:hover {
  filter: brightness(1.2);
}

/*///////////////////////////////////   MOBILE   ///////////////////////////////*/

@media (max-width: 1000px) {
  .Thread .Party {
    font-size: 0.8rem;
    width: min-content;
    background-color: transparent;
  }

  .Thread .Preview {
    font-size: 0.8rem;
  }

  .Thread button {
    font-size: 0.8rem;
  }
}
